<ul>
  <li>
      <button (click)="buttonsMethods.setColorBlue()">Blue</button>
  </li>
  <li>
      <button (click)="buttonsMethods.setColorGreen()"> Green</button>
  </li>
  <li>
      <button (click)="buttonsMethods.setColorPink()">Pink</button>
  </li>
  <li>
    <button (click)="buttonsMethods.showColor()">Log Color</button>
  </li>
</ul>

<div>
  <button id="openB">Open Highlight</button>
  <button id="closeB">Close Highlight</button>
  <label>
      Line Width: 
      <input type="number" name="width" id="lineWidth" placeholder="3"/>
  </label>
  <label>
      line Size:
      <input type="number" id="lineSize" placeholder="10"/>
  </label>
  
</div>


<div>
  <button id="backward">Backward</button>
  <button id="forward">Forward</button>
  <button id="eraseAll" (click)="loadImage()">Erase All</button>
</div>
<div>
  <button id="imageButton" (click)="loadImage()">Load Image</button>
</div>
<canvas id="myCanvas" height="2000" width="2000" style="border: 1px solid black; cursor:pointer;" (click) ="testClickHandler($event)">
</canvas>
<img id="canvasImage" src={{imagePath}} style="display: none;"/>