
<mat-sidenav-container class='sidenav-container'>
  <mat-sidenav mode="side" opened class='side-nav'>
    <ul>
      <li>
        <a routerLink='/home'>Home</a>
      </li>
      <li>
        <a routerLink='/newbook'>New Book</a>
      </li>
      <li>
        <a routerLink='/canvas'>Canvas</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class='sidenav-content'>
    <p>Precisa ter alguma coisa</p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>