<div>
  
  <div *ngIf="bookList !== null">-
    <div *ngFor="let book of bookList" (click) = "loadCanvas(book)" style="height: 300px; width: 300px; display: inline-block; border: 1px solid black; padding: 5px; margin: 10px; cursor: pointer;">
      <p>Nome: {{book["NAME"]}}</p>
      <p>path: {{book.capaPATH}}</p>
      <p>ID: {{book.id}}</p>
      <img src={{book.capaPATH}} style="height: 200px; width: 200px;"/>  
    </div> 
    <p>
      {{booksJson}}
    </p>
  </div>
  <div *ngIf="bookList === null">
    <h4>There are no books here. Please,<a routerLink="/newbook">add</a> new book to fill this page.</h4>
  </div>
</div>