<div>
  <mat-card class="card-container">
    <mat-card-title class='card-title'>
      <h3>Titulo do livro</h3>
    </mat-card-title>
    
    <mat-card-content class='card-content'>
      <img  class='img-card' src="https://http2.mlstatic.com/livro-harry-potter-e-a-cmara-secreta-capa-dura-novo-lacrado-D_NQ_NP_732839-MLB26492967186_122017-F.jpg"/>
    </mat-card-content>

    <mat-card-actions>
      <mat-button-toggle-group  name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Delete</mat-button-toggle>
        <mat-button-toggle value="italic">Open</mat-button-toggle>
        <mat-button-toggle value="underline">Details</mat-button-toggle>
      </mat-button-toggle-group>      
    </mat-card-actions>
  </mat-card>
</div>